@media only screen and (min-width: 1200px) {
    #aPropos #photo_01 {
        background-image: url("../../public/images/emile.webp");
        background-clip: content-box;
        background-size: cover;
        position: absolute;
        bottom: 11.5vh;
        left: calc(2vw + 0.398vw + 2.578125vw);
        width: 33.28125vw;
        height: 33.515625vw;
        max-width: 541px;
        max-height: 545px;
    }

    #aPropos #paragraph {
        display: flex;
        align-items: end;
        position: absolute;
        bottom: 11.5vh;
        right: calc(2vw + 5vw);
        width: 34.12vw;
        font-weight: 500;
        font-size: 20px;
        font-family: roc-grotesk, sans-serif;
        line-height: 28px;
    }
}

@media only screen and (max-width: 1200px) {
    #aPropos #photo_01 {
        background-image: url("../../public/images/emile.webp");
        background-clip: content-box;
        background-size: cover;
        position: absolute;
        bottom: 7.451875vh;
        left: calc(5.85vw + 2vw);
        height: min(52vw, 39vh);
        width: min(52vw, 39vh);
        max-width: 541px;
        max-height: 545px;
    }
    
    #aPropos #paragraph {
        display: flex;
        align-items: end;
        position: absolute;
        bottom: calc(7.451875vh + 26px + min(52vw, 39vh));
        right: calc(2vw + 5vw);
        width: 52vw;
        font-weight: 500;
        font-size: min(3vw, 14px);
        font-family: roc-grotesk, sans-serif;
    }
}