/******** Drag Queen ********/
#dragQueen {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 60vh;
    padding-left: calc(2vw + 0.398vw + 2.578125vw);
    height: calc(100vh - 60vh);
    overflow: hidden;
}

    /* sections */
#dragQueen section {
    width: calc(100vw - (2vw + 0.398vw + 3vw) * 2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15vh;
}

#dragQueen section:first-of-type {
    margin-top: 0;
}

#dragQueen section > div {
    width: 58.828125vw;
    height: 79vh;
    display: flex;
    overflow: hidden;
}

#dragQueen #b_01 {
    background-image: url("../../public/images/photoshoot/drag/01.jpg");
    background-clip: content-box;
    background-size: 58.828125vw 79vh;
    width: 58.828125vw;
    height: 79vh;
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
}

#dragQueen #b_02 {
    background-image: url("../../public/images/photoshoot/drag/02.jpg");
    background-clip: content-box;
    background-size: 58.828125vw 79vh;
    width: 58.828125vw;
    height: 79vh;
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
}

#dragQueen #b_03 {
    background-image: url("../../public/images/photoshoot/drag/03.jpg");
    background-clip: content-box;
    background-size: 58.828125vw 79vh;
    width: 58.828125vw;
    height: 79vh;
    z-index: 1;
}

    /* horizontal carousel */
.scrollOutLeft {
    animation: scrollOutLeftAn 1s forwards;
}

@keyframes scrollOutLeftAn {
    from {
        width: 58.828125vw;
    }
    to {
        width: 0;
    }
}

.scrollInRight {
    animation: scrollInRightAn 1s forwards;
}

@keyframes scrollInRightAn {
    from {
        width: 0;
    }
    to {
        width: 58.828125vw;
    }
}

    /* vertical carousel */
.scrollIntoView {
    animation: scrollIntoViewAn 0.5s forwards;
}

@keyframes scrollIntoViewAn {
    from {
        margin-top: 60vh;
    }
    to {
        margin-top: 16vh;
        height: calc(100vh - 16vh);
    }
}

.scrollOutOfView {
    animation: scrollOutOfViewAn 0.5s forwards;
}

@keyframes scrollOutOfViewAn {
    from {
        margin-top: 16vh;
        height: calc(100vh - 16vh);
    }
    to {
        margin-top: 60vh;
    }
}

.scrollDownOnePage {
    animation: scrollOnePageAn 0.75s forwards;
}

@keyframes scrollOnePageAn {
    from {
        margin-top: 16vh;
        height: calc(100vh - 16vh);
    }
    to {
        margin-top: -78vh;
        height: calc(100vh + 78vh);
    }
}

.scrollUpOnePage {
    animation: scrollUpOnePageAn 0.75s forwards;
}

@keyframes scrollUpOnePageAn {
    from {
        margin-top: -78vh;
        height: calc(100vh + 78vh);
    }
    to {
        margin-top: 16vh;
        height: calc(100vh - 16vh);
    }
}

.scrollDownTwoPage {
    animation: scrollTwoPageAn 0.75s forwards;
}

@keyframes scrollTwoPageAn {
    from {
        margin-top: -78vh;
        height: calc(100vh + 78vh);
    }
    to {
        margin-top: -172vh;
        height: calc(100vh + 172vh);
    }
}

.scrollUpTwoPage {
    animation: scrollUpTwoPageAn 0.75s forwards;
}

@keyframes scrollUpTwoPageAn {
    from {
        margin-top: -172vh;
        height: calc(100vh + 172vh);
    }
    to {
        margin-top: -78vh;
        height: calc(100vh + 78vh);
    }
}

    /* scrollOutNav */

.scrollOutOfPage {
    animation: scrollOutOfPageAn 0.5s forwards;
}

@keyframes scrollOutOfPageAn {
    0% {
        height: var(--height);
        margin-top: min(22.24px, 1.54444444vh);
    }
    95% {
        margin-top: -5px;
        height: var(--height);
    }
    100% {
        margin-top: -5px;
        height: 0;
    }
}

.scrollIntoPage {
    animation: scrollIntoPageAn 0.5s forwards;
}

@keyframes scrollIntoPageAn {
    0% {
        margin-top: -5px;
        height: 0;
    }
    100% {
        height: var(--height);
        margin-top: min(22.24px, 1.54444444vh);
    }
}

.scrollOutOfPageInnerDiv {
    animation: scrollOutOfPageInnerDivAn 0.5s forwards;
}

@keyframes scrollOutOfPageInnerDivAn {
    0% {
        margin-top: 0;
    }
    5% {
        margin-top: 0;
    }
    100% {
        margin-top: -75px;
    }
}

.scrollIntoPageInnerDiv {
    animation: scrollIntoPageInnerDivAn 0.5s forwards;
}

@keyframes scrollIntoPageInnerDivAn {
    0% {
        margin-top: -75px;
    }
    100% {
        margin-top: 0px;
    }
}