/******** Header ********/
    /** MOBILE **/
@media only screen and (max-width: 1200px) {
    #nameButton {
        display: block;
        margin: 0 0 0 calc(2vw + 0.398vw + 2.578125vw);
        height: 15vw;
        width: calc(100vw - 6.7578125vw - 3.1vw);
        position: relative;
        top: -16vw;
        z-index: 99;
    }

    #nameFlex {
        display: inherit;
        top: 0;
        display: flex;
        margin: 1.878vh 2vw 0 2vw;
        gap: 0.398vw;
        height: 17vw;
        z-index: 99;
        position: relative;
        margin: 1.878vh auto 0 auto;
        width: 97vw;
    }

    #emilerouillard {
        margin: auto;
        display: flex;
        width: 91.75vw;
    }

    #leftBracket {
        width: 6vw;
        height: 14.5vw;
        background-image: url("../../public/images/parenthese-01.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
    
    #rightBracket {
        width: 6vw;
        height: 14.5vw;
        background-image: url("../../public/images/parenthese-02.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

        /* Name 1 */
    #emilerouillard > div:first-of-type {
        width: 14%;
        height: 17vw;
        margin-right: 1.32vw;
    }

    #name1 {
        background-image: url("../../public/images/emileRouillard/eMin.svg");
        height: 14.5vw;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 100%;
    }

    #emilerouillard > div:nth-of-type(2) {
        width: 66%;
        height: 17vw;
        margin-right: 0.90vw;
    }

    #name2 {
        background-image: url("../../public/images/emileRouillard/mileMin.svg");
        height: 14.5vw;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 100%;
    }

    #emilerouillard > div:nth-of-type(3) {
        width: 16%;
        height: 7vw;
        margin-right: 1.32vw;
    }

    #name3 {
        width: 100%;
        height: 14.5vw;
        background-image: url("../../public/images/emileRouillard/rMin.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    #othersDiv, #contactDiv {
        display: none;
    }

    #socials, #langues {
        margin-top: 10px !important;
    }
    
    #socialsInnerDiv {
        gap: 0px !important;
    }

    #socials a, #email {
        font-size: min(3vw, 14px);
    }

    #service {
        display: none;
    }

    #behanceBracketLeft {
        left: -69px !important;
    }

    #linkedinBracketLeft {
        left: -63px !important;
    }

    #instagramBracketLeft {
        left: -81px !important;
    }

    #accueilBracketLeft {
        left: -58px !important;
    }

    #actionBracketLeft {
        left: -53px !important;
    }

    #modeBracketLeft {
        left: -51px !important;
    }

    #dragQueenBracketLeft {
        left: -90px !important;
    }
}

    /** WEB **/
@media only screen and (min-width: 1200px) {
        /* Name */
    #nameButton {
        display: block;
        margin: 0 0 0 calc(2vw + 0.398vw + 2.578125vw);
        height: 7vw;
        width: calc(100vw - 6.7578125vw - 3.1vw);
        position: relative;
        top: -7vw;
        z-index: 99;
    }

    #nameFlex {
        top: 0;
        display: flex;
        margin: 1.878vh 2vw 0 2vw;
        gap: 0.398vw;
        height: 7vw;
        z-index: 99;
        position: relative;
    }

    #emilerouillard {
        margin: auto;
        display: flex;
        width: 100%;
        height: 100%;
    }

        /* Name 1 */
    #emilerouillard > div:first-of-type {
        width: 16.35883905%;
        height: 7vw;
        margin-right: 1.32vw;
    }

    #name1 {
        width: 100%;
        height: 7vw;
        background-image: url("../../public/images/emileRouillard/em.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

        /* Name 2 */
    #emilerouillard > div:nth-of-type(2) {
        width: 34.696569921%;
        height: 7vw;
        margin-right: 0.90vw;
    }

    #name2 {
        width: 100%;
        height: 7vw;
        background-image: url("../../public/images/emileRouillard/ile.ro.svg");
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 0.90vw;
    }

        /* Name 3 */
    #emilerouillard > div:nth-of-type(3) {
        width: 6.77220756376%;
        height: 7vw;
        margin-right: 1.32vw;
    }

    #name3 {
        width: 100%;
        height: 7vw;
        background-image: url("../../public/images/emileRouillard/u.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    #emilerouillard > div:nth-of-type(4) {
        width: 30.38698328936%;
        height: 7vw;
        margin-right: 0.90vw;
    }
    
        /* Name 4 */
    #name4 {
        width: 100%;
        height: 7vw;
        background-image: url("../../public/images/emileRouillard/illar.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
    
    #emilerouillard > div:nth-of-type(5) {
        width: 7.12401055409%;
        height: 7vw;
        margin-right: 0.90vw;
    }
    
        /* Name 5 */
    #name5 {
        width: 100%;
        height: 7vw;
        background-image: url("../../public/images/emileRouillard/d.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    #leftBracket {
        width: 2.755vw;
        height: 7vw;
        background-image: url("../../public/images/parenthese-01.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    #rightBracket {
        width: 2.75vw;
        height: 7vw;
        background-image: url("../../public/images/parenthese-02.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
}


    /* Links */
#socials {
    margin-top: min(22.24px, 1.54444444vh);
    margin-left: -5px;
    z-index: 99;
    overflow-y: hidden;
}

@media only screen and (max-width: 1200px) {
    #socials, #langues {
        margin-top: 10px;
    }

    #email {
        margin-top: 10px !important;
    }
}

#langues {
    display: flex;
    flex-direction: column;
    gap: 0.4861111vh;
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-wrap: nowrap;
}

#langues:first-of-type {
    margin-top: 10px;
}

#langues a {
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: var(--black);
    z-index: 99;
    line-height: 1;
}

#socials > div {
    display: flex;
    flex-direction: column;
    gap: 0.4861111vh;
}

#socials a {
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: var(--black);
    z-index: 99;
    line-height: 1;
}

#behance {
    margin-left: 5px;
}

#behance:hover {
    color: var(--orange);
}

#behanceBracketRight {
    color: var(--orange);
    position: relative;
    top: -1px;
}

#behanceBracketLeft {
    position: relative;
    left: -78px;
    top: -1px;
    color: var(--orange);
}

#linkedin {
    margin-top: 1px;
    margin-left: 5px;
}

#linkedin:hover {
    color: var(--orange);
}

#linkedinBracketRight {
    color: var(--orange);
    position: relative;
    top: -1px;
}

#linkedinBracketLeft {
    position: relative;
    left: -71px;
    top: -1px;
    color: var(--orange);
}

#instagram {
    margin-top: 1px;
    margin-left: 5px;
}

#instagram:hover {
    color: var(--orange);
}

#instagramBracketRight {
    color: var(--orange);
    position: relative;
    top: -1px;
}

#instagramBracketLeft {
    position: relative;
    left: -91px;
    top: -1px;
    color: var(--orange);
}

#socialLine {
    display: flex;
    align-items: center;
}

#email {
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: min(22.24px, 1.54444444vh);
    overflow: hidden;
}

#service, #contact {
    position: relative;
    left: -0.90vw;
    margin-top: min(22.24px, 1.54444444vh);
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: var(--black);
}

#contact {
    width: 104px;
}

#photographie, #design {
    position: relative;
    left: -1.32vw;
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: var(--black);
}

#photographie {
    margin-top: 0.4861111vh;
}

#design {
    margin-top: min(22.24px, 1.54444444vh);
}

    /* Modale */
#contactModal {
    position: absolute;
    top: calc(7vw + 1.878vh + min(22.24px, 1.54444444vh) + 1.4861111vh);
    right: calc(2vw + 0.85vw + 2.578125vw);
    width: 25.8203125vw;
    height: 0;
    background: var(--orange) 0% 0% no-repeat padding-box;
    z-index: 99;
    overflow: hidden;
}

#contactModal > div:first-of-type {
    margin-top: calc((30.65 / 661) * 25.8203125vw);
}

#contactModal > div {
    margin-right: calc((30.65 / 661) * 25.8203125vw);
    margin-left: calc((30.65 / 661) * 25.8203125vw);
    display: flex;
    flex-direction: column;
    color: white;
}

#contactModal label {
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: calc(26px/42px);
    margin-bottom: 5px;
}

#contactModal > div > input {
    background-color: var(--orange);
    border: none;
    border-bottom: rgba(255, 255, 255, 0.5) 1px solid;
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 35px;
    color: white;
}

#modalEmail, #modalMessage {
    margin-top: 10px;
}

#contactModal > div > textarea {
    background-color: var(--orange);
    border: rgba(255, 255, 255, 0.5) 1px solid;
    resize: none;
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    padding: 10px;
    height: calc(((535 / 661) * 25.8203125vw) - 16px - 16px - 16px - 35px - 35px - calc((30.65 / 661) * 25.8203125vw) - calc((30.65 / 661) * 25.8203125vw) - 35px - 20px);
}

#contactModal button {
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: calc(26px/42px);
    color: white;
    background-color: var(--orange);
    border: none;
    width: 70px;
}

#contactModal #modalButton {
    flex-direction: row;
    justify-content: end;
    margin-top: 10px;
}

.modaleAppear {
    animation: modaleAppearAn 0.5s forwards;
}

@keyframes modaleAppearAn {
    0% {
        height: 0;
    }
    100% {
        height: calc((535 / 661) * 25.8203125vw);
    }
}

.modaleDisappear {
    animation: modaleDisappearAn 0.5s forwards;
}

@keyframes modaleDisappearAn {
    0% {
        height: calc((535 / 661) * 25.8203125vw);
    }
    100% {
        height: 0;
    }
}

/******** Navigation ********/
    /* Position */
nav {
    position: absolute;
    bottom: 4.375vh;
    left: calc(2vw + 0.398vw + 2.578125vw);
    display: flex;
    gap: 50px; 
    z-index: 99;
}

@media only screen and (max-width: 1500px) {
    nav {
        position: absolute;
        bottom: 24px;
        left: calc(5.5vw);
        display: flex;
        gap: 15px;
        z-index: 99;
    }
}

@media only screen and (max-width: 1200px) {
    nav {
        position: absolute;
        bottom: 24px;
        left: calc(5.85vw + 2vw);
        display: flex;
        gap: 2em;
        z-index: 99;
    }

    nav a {
        font-size: min(3vw, 14px);
    }
}

nav a {
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: var(--black);
}

#accueilLine, #actionLine, #modeLine, #dragQueenLine {
    display: flex;
}

#accueil:hover, #action:hover, #mode:hover, #dragQueenLink:hover {
    color: var(--orange);
}

#accueilBracketRight {
    color: var(--orange);
    position: relative;
    top: -2px;
    left: 1px;
}

#accueilBracketLeft {
    position: relative;
    left: -65px;
    top: -2px;
    color: var(--orange);
}

#accueilBracketLeftEn {
    position: relative;
    left: -55px;
    top: -2px;
    color: var(--orange);
}

#actionBracketRight {
    color: var(--orange);
    position: relative;
    top: -2px;
    left: 1px;
}

#actionBracketLeft {
    position: relative;
    left: -59px;
    top: -2px;
    color: var(--orange);
}

#modeBracketRight {
    color: var(--orange);
    position: relative;
    top: -2px;
    left: 1px;
}

#modeBracketLeft {
    position: relative;
    left: -55px;
    top: -2px;
    color: var(--orange);
}

#dragQueenBracketRight {
    color: var(--orange);
    position: relative;
    top: -2px;
    left: 1px;
}

#dragQueenBracketLeft {
    position: relative;
    left: -49px;
    top: -2px;
    color: var(--orange);
}

/******** Languages ********/
    /* Position */
aside {
    position: absolute;
    top: 0;
    left: 0;
}

aside ul {
    display: flex;
    list-style-type: none;
    gap: 1em;
}

aside ul li {
    text-decoration: none;
}