/******** Index ********/
    /* Photos */
    #index {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 40vh;
        z-index: 0;
        display: grid;
        width: 100vw;
        /* grid-template-columns: repeat(12, [line2] 6.328125% [line3] 1.171875%);
        grid-template-rows: 100vh; */
    }
    
    #index #photos {
        position: absolute;
        bottom: 0;
        left: 35.5859375vw;
        width: 58.828125vw;
        height: 40vh;
        display: flex;
        justify-content: space-between;
    }
    
    #index #photo_02 {
        background-image: url("../../public/images/photoshoot/accueil/photo_01.jpg");
        background-clip: content-box;
        background-size: cover;
        width: 28.828125vw;
        height: 40vh;
        z-index: 1;
    }
    
    #index #photo_01 {
        background-image: url("../../public/images/photoshoot/accueil/photo_02.jpg");
        background-clip: content-box;
        background-size: cover;
        width: 28.828125vw;
        height: 40vh;
        z-index: 1;
    }